.contactsListItem {
    display: flex;
    justify-content: space-between;
}

.contactsListItem:not(:last-child) {
    margin-bottom: 10px;
}

.contactsListItem p {
    font-size: 18px;
}

.enter {
    opacity: 0;
    transform: translateX(100%);
}

.enterActive {
    opacity: 1;
    transform: translateX(0);
    transition: all 250ms linear;
}

.exit {
    opacity: 1;
    transform: translateX(0);
}

.exitActive {
    opacity: 0;
    transform: translateX(-10%);
    transition: all 250ms linear;
}